---
import type { Page } from 'astro';
import type { HTMLAttributes } from 'astro/types';
import type { CollectionEntry } from 'astro:content';
import PostCard from '~/components/collections/PostCard.astro';
import Pagination from '~/components/ui/Pagination.astro';

interface Props extends HTMLAttributes<'div'> {
  description?: string,
  heading?: string,
  page: Page<CollectionEntry<'posts'>>
};

const { description, heading, page }: Props = Astro.props;
---

<section class="max-w-3xl flex flex-col gap-4 md:gap-8 min-h-[calc(100vh-3rem)]">

  { (heading || description) && (
    <header class:list={['flex flex-col justify-center max-w-[80ch]', (heading && description) ? 'gap-2' : '']}>
      { heading && (
        <h2 class="text-2xl md:text-3xl font-serif font-semibold">{heading}</h2>
      )}
      { description && (
        <p>{description}</p>
      )}
    </header>
  )}

  <ol class="flex flex-col flex-grow gap-4 md:gap-8">
    {page.data.map((post) =>
      <PostCard
        date={post.data.pubDate}
        description={post.data.description}
        heading={post.data.title}
        image={post.data.image}
        href={`${Astro.site}posts/${post.data.slug}`}
      />
    )}
  </ol>

  <Pagination
    page={page}
  />

</section>
