---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
  disabled?: boolean;
  label?: string;
  icon?: string;
  iconAnimate?: boolean;
  iconReverse?: boolean;
  iconSize?: number;
  openNewTab?: boolean;
}

const {
  disabled,
  label,
  icon,
  iconAnimate,
  iconReverse,
  iconSize = 21,
  openNewTab,
  href,
  class: className,
  ...rest
}: Partial<Props> = Astro.props;

const newTabAttributes = openNewTab ? { target: "_blank", rel: "noreferrer noopener" } : {};
---

<a
  class:list={[
    "group/btn focus-visible:bg-mikado-300 hover:text-mikado-950 flex w-fit items-center justify-center border-b border-transparent font-medium transition-all duration-300 focus-visible:border-b-2 focus-visible:border-black focus-visible:text-black",
    label ? "hover:border-mikado-950 p-1 focus:border-b-2" : "",
    !label && icon ? "p-2" : "",
    label && icon ? "gap-2" : "",
    iconReverse ? "flex-row-reverse" : "",
    disabled ? "text-mikado-100 hover:!text-mikado-200 cursor-not-allowed border-none" : "",
    className,
  ]}
  href={href}
  {...newTabAttributes}
  {...rest}
>
  {label && <span>{label}</span>}

  {
    icon && (
      <Icon
        class:list={[
          "self-center transition-all duration-300",
          !label ? "group-hover/btn:-translate-y-1 group-hover/btn:drop-shadow-xl" : "",
          iconAnimate ? "group-hover/btn:-rotate-45" : "",
        ]}
        name={icon}
        height={iconSize}
        width={iconSize}
      />
    )
  }
</a>
