---
import Button from "~/components/ui/Button.astro";

const iconSize = 21;
const { page } = Astro.props;
---

<nav class="mb-4 flex justify-center md:mb-13" aria-label="pagination">
  <ul class="flex items-center">
    <li class="flex w-1/4 justify-end">
      {
        page.url.prev ? (
          <Button
            href={page.url.prev}
            label="Previous"
            icon="ri:arrow-left-line"
            iconSize={iconSize}
            iconReverse={true}
            aria-label="go to previous page"
          />
        ) : (
          <Button
            disabled={true}
            href=""
            label="Previous"
            icon="ri:arrow-left-line"
            iconSize={iconSize}
            iconReverse={true}
            aria-disabled="true"
          />
        )
      }
    </li>

    <li class="flex w-1/2 justify-center">
      <span class="border-mikado-500 border-x-2 px-4" aria-label="current page">
        Page {page.currentPage} of {page.lastPage}
      </span>
    </li>

    <li class="flex w-1/4 justify-end">
      {
        page.url.next ? (
          <Button
            href={page.url.next}
            label="Next"
            icon="ri:arrow-right-line"
            iconSize={iconSize}
            aria-label="go to next page"
          />
        ) : (
          <Button
            disabled={true}
            href=""
            label="Next"
            icon="ri:arrow-right-line"
            iconSize={iconSize}
            aria-disabled="true"
          />
        )
      }
    </li>
  </ul>
</nav>
