---
import Button from "~/components/ui/Button.astro";

const socialLinks = [
  {
    href: "https://www.karlmantle.com",
    icon: "ri:earth-line",
    label: `Visit my website`,
    show: true,
  },
  {
    href: "https://github.com/karl-mantle/astro-cf-blog/",
    icon: "simple-icons:github",
    label: `Visit the GitHub repo`,
    show: true,
  },
  {
    href: `${Astro.site}rss.xml`,
    icon: "ri:rss-line",
    label: `Subscribe to RSS feed`,
    show: true,
  },
];
---

<div class="flex items-center gap-2">
  {
    socialLinks
      .filter((link) => link.show)
      .map((link) => (
        <Button
          icon={link.icon}
          iconSize={21}
          href={link.href}
          aria-label={link.label}
          openNewTab={true}
        />
      ))
  }
</div>
