---
import { getTagsCount, slugify } from '~/utils/collections';

const threshold = 2;
const tags = await getTagsCount('posts');
const filteredTags = tags.filter(tag => (tag.count ?? 0) >= threshold);

function getTagSize(count?: number): string {
  if (count) {
     const size = Math.min(0.5 + count * 0.15, 2);
     return `${size}rem`;
  } else {
    return '1rem'
  }
}
---

<ul class="flex flex-wrap gap-2 px-1" role="list" aria-label="list of post tags">
  {filteredTags.map((tag) =>
    <li>
      <a
        style={`font-size: ${getTagSize(tag.count)}`}
        class:list={['p-1 font-medium border-b border-transparent hover:border-mikado-950 hover:text-mikado-950 focus-visible:bg-mikado-300 focus-visible:text-black focus:border-b-2 focus-visible:border-black transition duration-300', getTagSize(tag.count)]}
        href={`${Astro.site}posts/tag/${slugify(tag.name)}`}
        aria-label={`view posts tagged with ${tag.name}`}
      >
        #{tag.name.toLowerCase()}
      </a>
    </li>
  )}
</ul>
